* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../images/images_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(50%);
  font-size: 1.6rem;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.range-box {
  background: rgb(247 247 247 / 88%);
  padding: 20px;
  border-radius: 30px;
}

.range {
  width: 40rem;
}
